body {
	background-color: #f7f7f7;
}
.jumbotron {
	background-color: rgb(24, 165, 125);
	padding: 0px;
}
.jumbotron-fluid {
	padding: 0px;
}
.display-4 {
	color: white;
}
.lead {
	color: rgb(170, 239, 219);
	margin-top: .5rem;
	margin-bottom: 0px;
	font-size: 24px;
	font-weight: bold;
}
.author {
	color: rgb(170, 239, 219);
}
.paragraph {
	color: #3d3d3d;
	padding-right: 15rem;
	padding-left: 15rem;
	margin-bottom: 2rem;
	text-align: justify;
}
.paragraph-2 {
	color: #3d3d3d;
	text-align: justify;
}
.caption {
	font-size: 11px;
	color: gray;
	font-style: italic;
	max-width: 100%;
}
.month-header {
	font-weight: bold;
	color: rgb(24, 165, 125);
	min-width: 150px;
}
.fav-img-header {
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 0px;
	color: #343a40;
}
.row {
	max-width: 90%;
	align-content: center;
	margin: auto;
}
.col {
	padding-top: 3rem;
/*	border: solid rgb(24, 165, 125) 1px;
	border-radius: 2px;
	margin: 5px;*/
}
@media only screen and (max-width: 800px) {
    .paragraph {
    color: #3d3d3d;
	padding-right: 5rem;
	padding-left: 5rem;
	margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 980px) {
	.col {
		min-width: 100%;
		padding-top: 3rem;
	}
    }
}
@media only screen and (max-width: 500px) {
    .paragraph {
    color: #3d3d3d;
	padding-right: 2rem;
	padding-left: 2rem;
	margin-bottom: 2rem;
    }
}
.footer-link {
	color: white;
	padding-top: 2rem;
	padding-bottom: 4rem;
	text-align: center;
}
.footer-link:hover {
	color: rgb(24, 165, 125);
	text-decoration: none;
}
.footer-div {
	margin: auto;
	margin-top: 2rem;
	max-height: 100px;
	max-width: 120px;
	padding: 1rem;
	background-color: rgb(24, 165, 125);
	border-radius: 30px;
}
.footer-div:hover {
	margin: auto;
	margin-top: 2rem;
	max-height: 100px;
	max-width: 120px;
	padding: 1rem;
	background-color: rgb(170, 239, 219);
	border-radius: 30px;
	transition-duration: .5s;
}
img {
	max-width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.hero-img {
	min-width: 100%;
}
.btn {
	margin-bottom: 2rem;
}
.bottom-border {
	width: 100%;
	height: 5px;
	background-color: lightgray;
	margin-top: 2rem;
}
iframe {
	min-width: 100%;
}
a {
	color: rgb(24, 165, 125);
}
a:hover {
	color: rgb(14, 96, 73);
}